*{
    margin: 0;
    padding: 0;
}

#calculator{
    box-sizing: border-box;
    background-color: #212121;
    max-width: 300px;
    max-height: 600px;
    margin-inline: auto;
    padding-inline: auto;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#display{
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    color: #cccccc;
    font-size: 50px;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 80px;
}

.row{
    width: 100%;
    padding: 20px 20px 0 20px;
}
.row:last-child{
    padding-bottom: 20px;
}
.row button{
    border: 3px solid #fffaf35b;
    cursor: pointer;
    color: aliceblue;
    font-size: 30px;
    width: 60px;
    height: 60px;
    background-color: #666666;
    border-radius: 60px;
}

.row button:last-child{
    border:3px solid #666666;
    background-color: #ff8c00;
}

#equals{
    width: 100%;
    background-color: #cccccc;
    color: #212121;
}